@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.about1-title{
    position: absolute;
    top: calc(100% + 500px);
    left: 50%;
    color: white;
    padding: 20px;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(100% - 160px);
    text-align: center;
    transform: translate(-50%, 0);
}

.about1{
    position: absolute;
    top: calc(100% + 600px);
    left: 50%;
    color: white;
    padding: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(50% - 160px);
    text-align: center;
    transform: translate(-50%, 0);
}

.films-title{
    position: absolute;
    top: calc(100% + 1500px);
    left: 50%;
    color: white;
    padding: 20px;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(50% - 160px);
    text-align: center;
    transform: translate(-50%, 0);
}

.films-container{
    position: absolute;
    top: calc(100% + 1800px);
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 20px);
    text-align: center;
}

.film{
    display: inline-block;
    width: 25%;
    background: black;
    box-shadow: black 0 0 10px;
    color: white;
    margin: 5px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    cursor: pointer;
}

.film img{
    width: 100%;
}

.film-name{
    font-weight: 100;
}

.video-container{
    position: absolute;
    top: calc(100% + 780px);
    left: 50%;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
    text-align: center;
    transform: translate(-50%, 0);
    box-shadow: black 0 0 10px;
}

.video-overlay{
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: calc(100% - 25px);
    text-align: center;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

video{
    width: 100%;
    height: 100%;
}