.about1-title{
    position: absolute;
    top: calc(100% + 400px);
    right: 50px;
    color: white;
    padding: 20px;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(50% - 160px);
    text-align: center;
}

.about1{
    position: absolute;
    top: calc(100% + 510px);
    right: 50px;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: black 0 0 10px;
    width: calc(50% - 160px);
}

.image1{
    position: absolute;
    top: calc(100% + 400px);
    left: 100px;
    width: calc(50% - 160px);
    box-shadow: black 0 0 10px;
}

.about2-title{
    position: absolute;
    top: calc(100% + 900px);
    left: 50px;
    color: white;
    padding: 20px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(50% - 160px);
    text-align: center;
}

.about2{
    position: absolute;
    top: calc(100% + 1010px);
    left: 50px;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: black 0 0 10px;
    width: calc(50% - 160px);
}

.image2{
    position: absolute;
    top: calc(100% + 980px);
    right: 100px;
    width: calc(50% - 160px);
    box-shadow: black 0 0 10px;
}

.about3-title{
    position: absolute;
    top: calc(100% + 1550px);
    left: 50%;
    color: white;
    padding: 20px;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    width: calc(50% - 160px);
    text-align: center;
    transform: translate(-50%, 0);
}

.about3{
    position: absolute;
    top: calc(100% + 1850px);
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 20px);
    text-align: center;
}

.profile-card{
    display: inline-flex;
    background: black;
    box-shadow: black 0 0 10px;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.profile-card img{
    margin-right: 10px;
    border-radius: 50%;
    border: white 2px solid;
}

.profile-card .profile-title{
    font-size: 25px;
}

.profile-card .profile-job{
    font-size: 15px;
}

@media only screen and (max-width: 1245px) {
    .image1{
        left: 50%;
        translate: -50% 0;
    }

    .about1-title{
        top: calc(100% + 650px);
        left: 50%;
        translate: -50% 0;
        width: calc(100% - 60px);
    }
    
    .about1{
        top: calc(100% + 760px);
        left: 50%;
        width: calc(100% - 60px);
        translate: -50% 0;
    }

    .image2{
        top: calc(100% + 900px);
        left: 50%;
        translate: -50% 0;
    }

    .about2-title{
        top: calc(100% + 1200px);
        left: 50%;
        translate: -50% 0;
        width: calc(100% - 60px);
    }
    
    .about2{
        top: calc(100% + 1300px);
        left: 50%;
        width: calc(100% - 60px);
        translate: -50% 0;
    }

    .about3-title{
        width: calc(100% - 60px);
    }
}

@media only screen and (max-width: 870px) {
    .image1{
        width: calc(75% - 100px);
    }
    .image2{
        width: calc(75% - 100px);
    }
    .about3-title{
        top: calc(100% + 1650px);
    }
    .about3{
        top: calc(100% + 1950px);
    }
    .profile-card{
        width: calc(100% - 50px);
    }
    .profile-card img{
        text-align: left;
    }
    .profile-card div{
        text-align: right;
    }
}

@media only screen and (max-width: 645px) {
    .image1{
        width: calc(100% - 100px);
    }
    .image2{
        top: calc(100% + 1000px);
        width: calc(100% - 100px);
    }
    .about1-title{
        font-size: 50px;
    }
    .about2-title{
        font-size: 50px;
    }
    .about3-title{
        top: calc(100% + 1800px);
        font-size: 50px;
    }
    .about3{
        top: calc(100% + 2050px);
    }
    .profile-card .profile-title{
        font-size: 20px;
    }
}